/* aclonica-regular - latin */
@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/aclonica-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  